p {
  text-align: justify;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.sorumlular {
  display: flex;  
}

.sorumlu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  
  background-color: silver;
  margin-left : 10px
}

.baslik {
  color: black;
}

.gorev-card {
  display: flex;
  flex-direction: column;
  margin-top:5px;
  padding: 10px;
  border: 1px solid;
  border-radius:10px;
  width: 150px;
  background-color: white;
}

.gor-bas {
  margin-bottom: 0;
  cursor: pointer;
}

.gor-durumlar{
  display: flex;
  justify-content: space-around;
  border-top: 1px dashed;
  padding-top: 10px;
  margin-left: 5px;
  margin-bottom:10px;
}

.durumlar{
  
}

.gorev-baslik {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.icon {
  cursor: pointer;
}